Pythonpycache/*.pyc.env.venv/venv/ENV/OS.DS_StoreCaches & Temporary Files.chromium_user_data/chromium_user_data_tmp/.org.chromium.Chromium.*Project Data (DO NOT commit data to a code repo)data/Specific temp files (in case they are created in root)*.json*.html*.pdf*.jpg*.txt--- Allowlist ---We do want to track requirements.txt!requirements.txtWe do want to track our docs!docs/!docs/*.mdWe do want to track our sample data (if we had any)!data/sample.pdf